.wizard {
	padding: 20px;

}
.wizard>.steps {
	position: relative;
	overflow: hidden;
	background-color: #f9f9f9;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.wizard>.steps>ul {
	width: 4000px;
	padding: 0;
	margin: 0;
	list-style: none outside none;
}
.wizard>.steps>ul li:first-child {
	padding-left: 20px;
	border-radius: 4px 0 0 4px;
}
.wizard>.steps>ul li.active {
	color: #3a87ad;
	background: #f1f6fc;
}
.wizard>.steps>ul li:hover {
	background: #D4E3F5;
}
.wizard>.steps>ul li, .wizard>.steps>ul li {
	position: relative;
	float: left;
	height: 46px;
	padding: 0 20px 0 30px;
	margin: 0;
	font-size: 16px;
	line-height: 46px;
	color: #999999;
	cursor: default;
	background: #ededed;
}
.wizard ul li.complete {
	color: #468847;
	background: #f3f4f5;
}


.wizard ul li .chevron {
	position: absolute;
	top: 0;
	right: -14px;
	z-index: 1;
	display: block;
	border: 24px solid transparent;
	border-right: 0;
	border-left: 14px solid #d4d4d4;
}
.wizard ul li.complete .chevron:before {
	border-left: 14px solid #f3f4f5;
}
.wizard ul li.active .chevron:before {
	border-left: 14px solid #f1f6fc;
}
.wizard ul li.active:hover .chevron:before, .wizard ul li.complete:hover .chevron:before {
	border-left: 14px solid #D4E3F5;
}

.wizard ul li .chevron:before {
	position: absolute;
	top: -24px;
	right: 1px;
	display: block;
	border: 24px solid transparent;
	border-right: 0;
	border-left: 14px solid #ededed;
	content: "";
}
.wizard ul li .badge {
margin-right: 8px;
}
.wizard .badge {
padding: 2px 4px;
padding-right: 9px;
padding-left: 9px;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
display: inline-block;font-size: 11.844px;
font-weight: bold;
line-height: 14px;
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
white-space: nowrap;
vertical-align: baseline;
background-color: #999999;
}
.wizard .badge-success {
	background-color: #468847;
}
.wizard .badge-info {
	background-color: #3a87ad;
}

.twitter-typeahead { width: 100%; }
.example-twitter-oss .tt-suggestion{padding:8px 20px}
.example-twitter-oss .tt-suggestion+.tt-suggestion{border-top:1px solid #ccc}
.example-twitter-oss .repo-language{float:right;font-style:italic}
.example-twitter-oss .repo-name{font-weight:bold}
.example-twitter-oss .repo-description{font-size:14px}
.example-sports .league-name{margin:0 20px 5px 20px;padding:3px 0;border-bottom:1px solid #ccc}
.tt-query,.tt-hint{width:396px;height:30px;padding:8px 12px;font-size:24px;line-height:30px;border:2px solid #ccc;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;outline:none}
.typeahead{background-color:#fff}
.typeahead:focus{border:2px solid #0097cf}
.tt-query{-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075)}
.tt-hint{color:#999}
.tt-dropdown-menu{width:422px;margin-top:3px;padding:8px 0;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, 0.2);-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2)}
.tt-suggestion{padding:3px 20px;font-size:18px;line-height:24px}
.tt-suggestion.tt-cursor{color:#fff;background-color:#0097cf}
.tt-suggestion p{margin:0}